<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Подробности</title>
</head>
<body>

<div align="center" th:each="el : ${prepod}">
    <h1>Подробная информация о преподавателе</h1>
    <h3 th:text="${'Фамилия, Имя: '+el.surname}"></h3>
    <h3 th:text="${el.name}"></h3>
    <h3 th:text="${'Присутствие на парах - '+el.isStay()}"></h3>
    <h4 th:text="${'Отработанные часы: '+el.hours}"></h4>
    <h4 th:text="${'Зарплата: '+el.salary+' руб.'}"></h4>
    <h5><a th:href="'/prepods/'+${el.id}+'/edit'">Редактировать</a></h5>
    <form th:action="'/prepods/' + ${el.id} + '/remove'" method="post">
        <button type="submit">Удалить</button>
    </form>
</div>

</body>
</html>
<style>
    html *
    {
        font-family: Arial !important;
    }
    body {
        height: 200px;
        background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    }
    h1{
        font-family: Arial;
    }
</style>