<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Подробности</title>
</head>
<body>

<div align="center" th:each="el : ${student}">
    <h1>Подробная информация о студенте</h1>
    <h3 th:text="${'Фамилия, Имя: '+el.surname}" style="display: inline-block"></h3>
    <h3 th:text="${el.name}" style="display: inline-block"></h3>
    <h3 th:text="${'Стипендия: '+el.scholarship+' руб.'}"></h3>
    <h4 th:text="${'День рождения: '+el.birthday}"></h4>
    <h4 th:text="${'Группа: '+el.grups.groups}"></h4>
    <h5><a th:href="'/students/'+${el.id}+'/edit'">Редактировать</a></h5>
    <form th:action="'/students/' + ${el.id} + '/remove'" method="post">
        <button type="submit">Удалить</button>
    </form>
</div>

</body>
</html>
<style>
    html *
    {
        font-family: Arial !important;
    }
    body {
        height: 200px;
        background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    }
    h1{
        font-family: Arial;
    }
</style>